@model CNewsProject.Models.Api.CurrencyExchangeRate.CurrencyExchangeRate

<div class="exchange-rates">
    <h2>Currency exchange rates</h2>
    
            <p>Country: @Model.Country: @Model.Valuta</p>
            
    </div>

@* 
    <ul>
        @foreach (var rate in Model.Country)
        {
            <li>@Model.Country : @Model.Valuta</li>
        }
    </ul>
</div> *@