@using CNewsProject.Service
@inject UserManager<AppUser> userManager
@inject IHttpContextAccessor httpContextAccessor;

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - CNewsProject</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/CNewsProject.styles.css" asp-append-version="true" />
	<style>
		nav ul li a:hover {
			background-color: #a6a6a6;
			border-radius: 5px;
		}

		.cookie-consent-banner {
			z-index: 1000;
			bottom: 0;
			width: 100%;
			text-align: center;
		}
	</style>
</head>
<body>
	<header>
		<nav class="navbar fixed-top navbar-expand-lg navbar-dark navfire" style="background-color: #a6a6a6">
			<div class="container-fluid">
				<a class="navbar-brand" asp-area="" asp-controller="News" asp-action="Index">
					<img src="/content/images/cnewslogofire.png" alt="News Logo" style="height: 50px;">
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link text-light" asp-controller="News" asp-action="Local">Local</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-light" asp-controller="News" asp-action="Sweden">Sweden</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-light" asp-controller="News" asp-action="World">World</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-light" asp-controller="News" asp-action="Economy">Economy</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-light" asp-controller="News" asp-action="Sport">Sport</a>
						</li>
						@{
							if (httpContextAccessor.HttpContext.User != null)
							{
								AppUser user = await userManager.GetUserAsync(httpContextAccessor.HttpContext?.User);
								bool isJournalist;
								bool isThePublisher;
								bool isAdmin;

								if (user != null)
								{
									isJournalist = await userManager.IsInRoleAsync(user, "Journalist");
									isThePublisher = await userManager.IsInRoleAsync(user, "The Publisher");
									isAdmin = await userManager.IsInRoleAsync(user, "Admin");

									if (isJournalist)
									{
										<li class="nav-item">
											<a class="nav-link text-light" asp-controller="Journalist" asp-action="Index">Journalist</a>
										</li>
									}

									if (isThePublisher)
									{
										<li class="nav-item">
											<a class="nav-link text-light" asp-controller="ThePublisher" asp-action="Index">The Publisher</a>
										</li>
									}

									if (isAdmin)
									{
										<li class="nav-item">
											<a class="nav-link text-light" asp-controller="Admin" asp-action="Index">Admin</a>
										</li>
									}
								}
							}
						}
					</ul>
					<partial name="_LoginPartial" />
					<form class="d-flex" role="search" asp-controller="News" asp-action="Search" method="post">
						<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search">
						<button class="btn btn-success" type="submit">Search</button>
					</form>
				</div>
			</div>
		</nav>
	</header>
	<div class="container row m-auto">
		<main role="main" class="pb-3" style="margin-top:90px">
			@RenderBody()
		</main>
	</div>
	<div class="fixed-bottom d-none d-md-block">
		&copy; @DateTime.Now.Year - CNewsProject - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
	</div>

	<partial name="_CookieConsentPartial" />

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
