@inject UserManager<AppUser> UserManager
@inject IHttpContextAccessor HttpContextAccessor

@{
    if (HttpContextAccessor.HttpContext != null)
    {
        var user = await UserManager.GetUserAsync(HttpContextAccessor.HttpContext.User);

        if (user != null)
        {
            var isJournalist = await UserManager.IsInRoleAsync(user, "Journalist");
            var isThePublisher = await UserManager.IsInRoleAsync(user, "The Publisher");
            var isAdmin = await UserManager.IsInRoleAsync(user, "Admin");

            if (isJournalist)
            {
                <li class="nav-item c-nav-item-hoverable">
                    <a id="journalist" class="nav-link text-light c-border-round" asp-controller="Journalist" asp-action="Index">Journalist</a>
                </li>
            }

            if (isThePublisher)
            {
                <li class="nav-item c-nav-item-hoverable">
                    <a id="thepublisher" class="nav-link text-light c-border-round" asp-controller="ThePublisher" asp-action="Index">The Publisher</a>
                </li>
            }

            if (isAdmin)
            {
                <li class="nav-item c-nav-item-hoverable">
                    <a id="admin" class="nav-link text-light c-border-round" asp-controller="Admin" asp-action="Index">Admin</a>
                </li>
                
                // MOVE THESE TO ADMIN PAGE LATER
                <li class="nav-item c-nav-item-hoverable">
                    <a id="weatherHistory" class="nav-link text-light c-border-round" asp-controller="Weather" asp-action="WeatherHistory">Weather History</a>
                </li>

                <li class="nav-item c-nav-item-hoverable">
                    <a id="exchangeRate" class="nav-link text-light c-border-round" asp-controller="ExchangeRate" asp-action="History">Exchange Rate History</a>
                </li>
            }
        }
    }
}