
.navfire {
    background-image: url(/content/images/highqualitynavbar.png);
    background-repeat: repeat;
    background-size: 166px 75px;
}


.hoverable {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.1s ease-in-out;
}

.hoverable:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
}

.unlink {
    text-decoration: none;
    color: black;
}

.c-link-hover-container:hover {
    .c-link-hover {
        text-decoration: underline;
    }
}

.c-link-hover {
    text-decoration: none;
}

.c-nav-hat {
    padding: 2rem 1rem;
}

.c-gradient-90 {
    background: rgb(0, 153, 153);
    background: linear-gradient(90deg, rgba(0, 153, 153, 1) 0%, rgba(0, 51, 102, 1) 100%);
}

.c-nav-sticky {
    position: sticky;
    top: 0;
    padding: 0;
}

.c-container-img-center {
    text-align: center;
}

.c-img-jumbo {
    max-width: 700px;
}

.c-body {
    background: #fff7e6;
}

.dropdown-menu {
    --bs-dropdown-link-active-bg: #737373;
}

.nav-link {
    color: white;
}

.navbar-nav {
    --bs-nav-link-padding-x: 0.5rem;
}

.c-border-round {
    border-radius: 10px;
}

.c-nav-item-hoverable:hover {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.25);
}

.nav-item {
    margin-left: 1px;
    margin-right: 1px;
}

/* FUCKS the NAVBAR Hamburger Menu up*/
/*.nav-link {*/
/*    height: 60px;*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/

/*#navbarNav {*/
/*    height: 60px;*/
/*    margin-top: 0;*/
/*    margin-bottom: 0;*/
/*    */
/*}*/

/*form stripe style*/
<
style >
#payment-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.form-control {
    border-radius: 4px;
}

.btn-success {
    background-color: #28a745;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
}

.btn-success:hover {
    background-color: #218838;
}

#card-element {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ced4da;
    margin-bottom: 10px;
}

#card-errors {
    color: red;
}

#border-gradient {
    margin-top: 200px;
    height: 4px;
    background: linear-gradient(90deg, rgba(0, 128, 128, 1) 0%, rgba(0, 40, 77, 1) 100%);
    z-index: 1000;
}

.border-gradient{
    border-width: 0px 0px 4px 0px;
    border-style: solid;
    border-image: linear-gradient(to right, rgba(0, 128, 128, 1) 0%, rgba(0, 40, 77, 1) 100%) 1;
}

</style >

#authorSuggestions {
    position: absolute;
    width: 200px;
    z-index: 1000;
    background-color: white;
    border: 1px solid #ccc;
}

.list-group-item {
    cursor: pointer;
}

    .list-group-item:hover {
        background-color: #f0f0f0;
    }
