/*.navfire {*/
/*    background-image: url(/content/images/highqualitynavbar.png);*/
/*    background-repeat: repeat;*/
/*    background-size: 166px 75px;*/
/*}*/


.hoverable {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.1s ease-in-out;
}

.hoverable:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
}

.c-hover-pointer:hover{
    cursor: pointer;
}

.unlink {
    text-decoration: none;
    color: black;
}

.c-link-hover-container:hover {
    .c-link-hover {
        text-decoration: underline;
    }
}

.c-link-hover {
    text-decoration: none;
}

.c-nav-hat {
    padding: 2rem 1rem;
}

.c-gradient-90 {
    background: rgb(0, 153, 153);
    background: linear-gradient(90deg, rgba(0, 153, 153, 1) 0%, rgba(0, 51, 102, 1) 100%);
}

.c-nav-sticky {
    position: sticky;
    top: 0;
    padding: 0;
}

.c-container-img-center {
    text-align: center;
}

.c-img-jumbo {
    max-width: 700px;
}

.c-body {
    background: #fff7e6;
}

.dropdown-menu {
    --bs-dropdown-link-active-bg: #737373;
}

.nav-link {
    color: white;
}

.navbar-nav {
    --bs-nav-link-padding-x: 0.5rem;
}

.c-border-round {
    border-radius: 10px;
}

.c-nav-item-hoverable:hover {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.25);
}

.nav-item {
    margin-left: 1px;
    margin-right: 1px;
}


/*Stripe*/
.shamsForm {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.c-hidden {
    display: none; !important;
}

.c-nonselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.c-clickable-toggle-target{
    
}

.c-clickable-toggle{
    
}
/* FUCKS the NAVBAR Hamburger Menu up*/
/*.nav-link {*/
/*    height: 60px;*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/

/*#navbarNav {*/
/*    height: 60px;*/
/*    margin-top: 0;*/
/*    margin-bottom: 0;*/
/*    */
/*}*/

/*form stripe style*/

/*FAKE REGION - THIS MIGHT REALLY MESS UP STUFF */


#payment-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.form-control {
    border-radius: 4px;
}

.shamsButton {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

    .shamsButton:hover {
        background-color: #45a049;
    }

.formDiv {
    margin-bottom: 20px;
}


.shamsLabel {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.shamsSelect {
    width: 100%;
    padding: 12px;
}
    
.border-gradient {
    border-width: 0px 0px 4px 0px;
    border-style: solid;
    border-image: linear-gradient(to right, rgba(0, 128, 128, 1) 0%, rgba(0, 40, 77, 1) 100%) 1;
}

/*FAKE REGION END - THIS MIGHT REALLY MESS UP STUFF */

#authorSuggestions {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: cornsilk;
}

/* FUCKS the NAVBAR Hamburger Menu up*/
/*.nav-link {*/
/*    height: 60px;*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/

/*#navbarNav {*/
/*    height: 60px;*/
/*    margin-top: 0;*/
/*    margin-bottom: 0;*/
/*    */
/*}*/

.list-group-item:hover {
    background-color: #f0f0f0;
}

.c-gradient-90.accordion-button:after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}