@model WriteArticleVM

@{
    ViewData["Title"] = "Write Article";
}

<form asp-action="CreateArticle" method="post" enctype="multipart/form-data">

    <div class="mb-3">
        <label asp-for="ArticleImage">Select File</label>
        <input asp-for="ArticleImage" />
    </div>

    <div class="mb-3">
        <label asp-for="Headline">Headline</label>
        <input type="text" asp-for="Headline" />
    </div>

    <div class="mb-3">
        <label asp-for="ContentSummary">Summary</label>
        <textarea asp-for="ContentSummary" rows="4" cols="50"></textarea>
    </div>

    <div class="mb-3">
        <label asp-for="Content">Content</label>
        <textarea asp-for="Content" rows="8" cols="50"></textarea>
    </div>

    <div class="mb-3">
        <label asp-for="CategoryName">Category</label>
        <select asp-for="CategoryName" asp-items="Model.CategoryList"></select>
    </div>

    <button type="submit" class="btn btn-primary">Submit Article</button>
</form>


        public string Headline { get; set; } = string.Empty; CHECK
        public Category Category { get; set; } = new(); DROP LIST
        public string Content { get; set; } = string.Empty; CONTENT CHECK
        public string ContentSummary { get; set; } = string.Empty; SAMMANFATTNING FATTARU BRORSAN!!!=!=


        public DateOnly DateStamp { get; set; } CHECKC
        
        public string LinkText { get; set; } = string.Empty; LÄNKENS TEXT MAKE THIS THE HEADLINE easy solve


        public int Views { get; set; }
        public int Likes { get; set; }

        public string ImageLink { get; set; } = string.Empty; IMAGE URL TO THE CONTAINER AZURE STORAE GREJ

        public bool IsArchived  { get; set; }
        public bool IsPublished { get; set; }