@model WriteArticleVM

@{
    ViewData["Title"] = "Write Article";
}

<style>
    .c-textarea {
        display: block;
        width: 100%;
        height: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
</style>

<link href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css" rel="stylesheet" />

<div class="row">
    <div class="offset-md-3 col-md-6 offset-sm-2 col-sm-8 offset-1 col-10">

        <form id="addArticle" asp-action="CreateArticle" method="post" enctype="multipart/form-data">

            <div class="mb-3">
                <label asp-for="ArticleImage">Select File</label>
                <br/>
                <input asp-for="ArticleImage" />
            </div>

            <div class="mb-3">
                <label asp-for="Headline">Headline</label>
                <br/>
                <textarea type="http" class="c-textarea" asp-for="Headline" oninput="autoAdjustHeight(this)"></textarea>
            </div>

            <div class="mb-3">
                <label asp-for="ContentSummary">Summary</label>
                <br/>
                <textarea type="http" class="c-textarea" asp-for="ContentSummary" oninput="autoAdjustHeight(this)"></textarea>
            </div>

            <label for="editorContent">Content</label>
            <br/>
            <div id="editorContent" class="mb-3 bg-white">
                <p>Write your content here</p>
            </div>
            <script src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"></script>
            
            <input type="hidden" name="content"/>
            
            <div class="mb-3">
                <label asp-for="CategoryName">Category</label>
                <br/>
                <select asp-for="CategoryName" asp-items="Model.CategoryList"></select>
            </div>
            
            @*offset-md-3 col-md-6 offset-sm-2 col-sm-8 offset-1 col-10*@
            <div class="row">
                <div class="col-2">
                    <a asp-action="Index" class="btn btn-danger">Discard</a>
                </div>
                <div class="col-10">
                    <div class="row justify-content-end">
                        <div class="col-3 col-sm-4 col-md-5 col-lg-6 col-xl-7"></div>
                        <button type="submit" asp-route-draft="true" class="col btn btn-secondary">Save</button>
                        <button type="submit" asp-route-draft="false" class="col ms-2 btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
  const quill = new Quill('#editorContent', {
    theme: 'snow'
  });

  document.addEventListener("DOMContentLoaded", function () {
    document.querySelectorAll('[role="toolbar"]').forEach(function (el){
    el.classList.add("bg-white");
  })});
  
  const form = document.querySelector('#addArticle');
  form.onsubmit = function () {
      const content = document.querySelector('input[name=content]');
      content.value = quill.root.innerHTML;
  };


  function autoAdjustHeight(textarea) {
    
      textarea.style.height = 'auto';
      textarea.style.height = textarea.scrollHeight + 'px';
  }
</script>