@model WriteArticleVM

@{
    ViewData["Title"] = "Write Article";
}

<form asp-action="CreateArticle" method="post" enctype="multipart/form-data">

    <div class="mb-3">
        <label asp-for="ArticleImage">Select File</label>
        <input asp-for="ArticleImage" />
    </div>

    <div class="mb-3">
        <label asp-for="Headline">Headline</label>
        <input type="text" asp-for="Headline" />
    </div>

    <div class="mb-3">
        <label asp-for="ContentSummary">Summary</label>
        <textarea asp-for="ContentSummary" rows="4" cols="50"></textarea>
    </div>

    <div class="mb-3">
        <label asp-for="Content">Content</label>
        <textarea asp-for="Content" rows="8" cols="50"></textarea>
    </div>

    <div class="mb-3">
        <label asp-for="CategoryName">Category</label>
        <select asp-for="CategoryName" asp-items="Model.CategoryList"></select>
    </div>

    <button type="submit" class="btn btn-primary">Submit Article</button>
</form>
