@model AppUser

<button class="btn edit-acc-btn">Edit Account</button>
<p class="text-muted" style="display: none" id="edit-acc-confirmation">Changes saved</p>

<form asp-controller="Account" asp-action="Profile" method="post" id="edit-acc-form" style="display:none; margin: 10px;">
    <input asp-for="Id" type="hidden"/>

    <label asp-for="UserName"></label><br/>
    <input disabled asp-for="UserName"/>
    <br/>
    <label asp-for="Email"></label><br/>
    <input disabled asp-for="Email"/>

    <button type="submit" class="btn btn-primary" id="save-edit-acc" style="margin-top: 4px;">Save</button>
    <button type="reset" class="btn btn-danger edit-acc-btn" style="margin-top: 4px;">Cancel</button><br/>
</form>