@using System.Reflection
@model Rates

<div class="card">
    <div class="card-body">
        <div style="background-color:#dee6ef;">
            <h3>Exchange rates</h3>
        </div>
        <p>100 SEK equals</p>
    </div>
    
        <ul class="row">
            @{
                Dictionary<string, string> formatedRates = new();

                foreach (PropertyInfo propInfo in Model.GetType().GetProperties().Where(p => p.Name != "SEK"))
                {
                    string temp = string.Format("{0:F2}", Convert.ToDecimal(propInfo.GetValue(Model)) * 100);

                    formatedRates.Add(propInfo.Name, temp);
                    string liItem = propInfo.Name + " : " + temp;
                    
                    <li class="col-6 ps-0">@liItem</li>
                }
            }
        </ul>

    
    @* <ul class="row"> *@
    @*     @{ *@
    @*         foreach (KeyValuePair<string, string> nyckelPar in formatedRates) *@
    @*         { *@
    @*             string temp = nyckelPar.Key + " : " + nyckelPar.Value; *@
    @*             <li class="col-6 ps-0">@temp</li> *@
    @*         } *@
    @*     } *@
    @* </ul> *@

</div>