@using System.Reflection
@using CNewsProject.StaticTempData

<div class="card">
    <div class="card-body">
        <div style="background-color:#dee6ef;">
            <h3>Exchange rates</h3>
        </div>
        <p>100 SEK equals</p>
    </div>
    
        <ul class="row">
            @{
                
                Type type = typeof(ExchangeRateData);
                var listOfProps = type.GetProperties(BindingFlags.Static | BindingFlags.Public).Where(p => p.Name != "SEK" && p.Name != "TimeUpdated").ToList();

                foreach (var prop in listOfProps)
                {
                    string temp = string.Format("{0:F2}", Convert.ToDecimal(prop.GetValue(null)) * 100);
                    var value = prop.GetValue(null);
                    string liItem = prop.Name + " : " + temp;
                    
                    <li class="col-6 ps-0">@liItem</li>
                }
                
            }
        </ul>
</div>