@model Rates

<div class="card">
    <h3>Exchange rates</h3>
    @{
        string aed = string.Format("{0:F2}", Convert.ToDecimal(Model.AED * 100));
        string afn = string.Format("{0:F2}", Convert.ToDecimal(Model.AFN * 100));
        string all = string.Format("{0:F2}", Convert.ToDecimal(Model.ALL * 100));
        string amd = string.Format("{0:F2}", Convert.ToDecimal(Model.AMD * 100));
        string ang = string.Format("{0:F2}", Convert.ToDecimal(Model.ANG * 100));
        string aoa = string.Format("{0:F2}", Convert.ToDecimal(Model.AOA * 100));
        string ars = string.Format("{0:F2}", Convert.ToDecimal(Model.ARS * 100));
        string aud = string.Format("{0:F2}", Convert.ToDecimal(Model.AUD * 100));
        string awg = string.Format("{0:F2}", Convert.ToDecimal(Model.AWG * 100));
        string azn = string.Format("{0:F2}", Convert.ToDecimal(Model.AZN * 100));
        string bam = string.Format("{0:F2}", Convert.ToDecimal(Model.BAM * 100));
        string bbd = string.Format("{0:F2}", Convert.ToDecimal(Model.BBD * 100));
        string bdt = string.Format("{0:F2}", Convert.ToDecimal(Model.BDT * 100));
        string bgn = string.Format("{0:F2}", Convert.ToDecimal(Model.BGN * 100));
        string bhd = string.Format("{0:F2}", Convert.ToDecimal(Model.BHD * 100));
        string bif = string.Format("{0:F2}", Convert.ToDecimal(Model.BIF * 100));
        string bmd = string.Format("{0:F2}", Convert.ToDecimal(Model.BMD * 100));
        string bnd = string.Format("{0:F2}", Convert.ToDecimal(Model.BND * 100));
        string bob = string.Format("{0:F2}", Convert.ToDecimal(Model.BOB * 100));
        string brl = string.Format("{0:F2}", Convert.ToDecimal(Model.BRL * 100));
        string bsd = string.Format("{0:F2}", Convert.ToDecimal(Model.BSD * 100));
        string btn = string.Format("{0:F2}", Convert.ToDecimal(Model.BTN * 100));
        string bwp = string.Format("{0:F2}", Convert.ToDecimal(Model.BWP * 100));
        string byn = string.Format("{0:F2}", Convert.ToDecimal(Model.BYN * 100));
        string bzd = string.Format("{0:F2}", Convert.ToDecimal(Model.BZD * 100));
        string cad = string.Format("{0:F2}", Convert.ToDecimal(Model.CAD * 100));
        string cdf = string.Format("{0:F2}", Convert.ToDecimal(Model.CDF * 100));
        string chf = string.Format("{0:F2}", Convert.ToDecimal(Model.CHF * 100));
        string clp = string.Format("{0:F2}", Convert.ToDecimal(Model.CLP * 100));
        string cny = string.Format("{0:F2}", Convert.ToDecimal(Model.CNY * 100));
        string cop = string.Format("{0:F2}", Convert.ToDecimal(Model.COP * 100));
        string crc = string.Format("{0:F2}", Convert.ToDecimal(Model.CRC * 100));
        string cup = string.Format("{0:F2}", Convert.ToDecimal(Model.CUP * 100));
        string cve = string.Format("{0:F2}", Convert.ToDecimal(Model.CVE * 100));
        string czk = string.Format("{0:F2}", Convert.ToDecimal(Model.CZK * 100));
        string djf = string.Format("{0:F2}", Convert.ToDecimal(Model.DJF * 100));
        string dkk = string.Format("{0:F2}", Convert.ToDecimal(Model.DKK * 100));
        string dop = string.Format("{0:F2}", Convert.ToDecimal(Model.DOP * 100));
        string dzd = string.Format("{0:F2}", Convert.ToDecimal(Model.DZD * 100));
        string egp = string.Format("{0:F2}", Convert.ToDecimal(Model.EGP * 100));
        string ern = string.Format("{0:F2}", Convert.ToDecimal(Model.ERN * 100));
        string etb = string.Format("{0:F2}", Convert.ToDecimal(Model.ETB * 100));
        string eur = string.Format("{0:F2}", Convert.ToDecimal(Model.EUR * 100));
        string fjd = string.Format("{0:F2}", Convert.ToDecimal(Model.FJD * 100));
        string fkp = string.Format("{0:F2}", Convert.ToDecimal(Model.FKP * 100));
        string fok = string.Format("{0:F2}", Convert.ToDecimal(Model.FOK * 100));
        string gbp = string.Format("{0:F2}", Convert.ToDecimal(Model.GBP * 100));
        string gel = string.Format("{0:F2}", Convert.ToDecimal(Model.GEL * 100));
        string ggp = string.Format("{0:F2}", Convert.ToDecimal(Model.GGP * 100));
        string ghs = string.Format("{0:F2}", Convert.ToDecimal(Model.GHS * 100));
        string gip = string.Format("{0:F2}", Convert.ToDecimal(Model.GIP * 100));
        string gmd = string.Format("{0:F2}", Convert.ToDecimal(Model.GMD * 100));
        string gnf = string.Format("{0:F2}", Convert.ToDecimal(Model.GNF * 100));
        string gtq = string.Format("{0:F2}", Convert.ToDecimal(Model.GTQ * 100));
        string gyd = string.Format("{0:F2}", Convert.ToDecimal(Model.GYD * 100));
        string hkd = string.Format("{0:F2}", Convert.ToDecimal(Model.HKD * 100));
        string hnl = string.Format("{0:F2}", Convert.ToDecimal(Model.HNL * 100));
        string hrk = string.Format("{0:F2}", Convert.ToDecimal(Model.HRK * 100));
        string htg = string.Format("{0:F2}", Convert.ToDecimal(Model.HTG * 100));
        string huf = string.Format("{0:F2}", Convert.ToDecimal(Model.HUF * 100));
        string idr = string.Format("{0:F2}", Convert.ToDecimal(Model.IDR * 100));
        string ils = string.Format("{0:F2}", Convert.ToDecimal(Model.ILS * 100));
        string imp = string.Format("{0:F2}", Convert.ToDecimal(Model.IMP * 100));
        string inr = string.Format("{0:F2}", Convert.ToDecimal(Model.INR * 100));
        string iqd = string.Format("{0:F2}", Convert.ToDecimal(Model.IQD * 100));
        string irr = string.Format("{0:F2}", Convert.ToDecimal(Model.IRR * 100));
        string isk = string.Format("{0:F2}", Convert.ToDecimal(Model.ISK * 100));
        string jep = string.Format("{0:F2}", Convert.ToDecimal(Model.JEP * 100));
        string jmd = string.Format("{0:F2}", Convert.ToDecimal(Model.JMD * 100));
        string jod = string.Format("{0:F2}", Convert.ToDecimal(Model.JOD * 100));
        string jpy = string.Format("{0:F2}", Convert.ToDecimal(Model.JPY * 100));
        string kes = string.Format("{0:F2}", Convert.ToDecimal(Model.KES * 100));
        string kgs = string.Format("{0:F2}", Convert.ToDecimal(Model.KGS * 100));
        string khr = string.Format("{0:F2}", Convert.ToDecimal(Model.KHR * 100));
        string kid = string.Format("{0:F2}", Convert.ToDecimal(Model.KID * 100));
        string kmf = string.Format("{0:F2}", Convert.ToDecimal(Model.KMF * 100));
        string krw = string.Format("{0:F2}", Convert.ToDecimal(Model.KRW * 100));
        string kwd = string.Format("{0:F2}", Convert.ToDecimal(Model.KWD * 100));
        string kyd = string.Format("{0:F2}", Convert.ToDecimal(Model.KYD * 100));
        string kzt = string.Format("{0:F2}", Convert.ToDecimal(Model.KZT * 100));
        string lak = string.Format("{0:F2}", Convert.ToDecimal(Model.LAK * 100));
        string lbp = string.Format("{0:F2}", Convert.ToDecimal(Model.LBP * 100));
        string lkr = string.Format("{0:F2}", Convert.ToDecimal(Model.LKR * 100));
        string lrd = string.Format("{0:F2}", Convert.ToDecimal(Model.LRD * 100));
        string lsl = string.Format("{0:F2}", Convert.ToDecimal(Model.LSL * 100));
        string lyd = string.Format("{0:F2}", Convert.ToDecimal(Model.LYD * 100));
        string mad = string.Format("{0:F2}", Convert.ToDecimal(Model.MAD * 100));
        string mdl = string.Format("{0:F2}", Convert.ToDecimal(Model.MDL * 100));
        string mga = string.Format("{0:F2}", Convert.ToDecimal(Model.MGA * 100));
        string mkd = string.Format("{0:F2}", Convert.ToDecimal(Model.MKD * 100));
        string mmk = string.Format("{0:F2}", Convert.ToDecimal(Model.MMK * 100));
        string mnt = string.Format("{0:F2}", Convert.ToDecimal(Model.MNT * 100));
        string mop = string.Format("{0:F2}", Convert.ToDecimal(Model.MOP * 100));
        string mru = string.Format("{0:F2}", Convert.ToDecimal(Model.MRU * 100));
        string mur = string.Format("{0:F2}", Convert.ToDecimal(Model.MUR * 100));
        string mvr = string.Format("{0:F2}", Convert.ToDecimal(Model.MVR * 100));
        string mwk = string.Format("{0:F2}", Convert.ToDecimal(Model.MWK * 100));
        string mxn = string.Format("{0:F2}", Convert.ToDecimal(Model.MXN * 100));
        string myr = string.Format("{0:F2}", Convert.ToDecimal(Model.MYR * 100));
        string mzn = string.Format("{0:F2}", Convert.ToDecimal(Model.MZN * 100));
        string nad = string.Format("{0:F2}", Convert.ToDecimal(Model.NAD * 100));
        string ngn = string.Format("{0:F2}", Convert.ToDecimal(Model.NGN * 100));
        string nio = string.Format("{0:F2}", Convert.ToDecimal(Model.NIO * 100));
        string nok = string.Format("{0:F2}", Convert.ToDecimal(Model.NOK * 100));
        string npr = string.Format("{0:F2}", Convert.ToDecimal(Model.NPR * 100));
        string nzd = string.Format("{0:F2}", Convert.ToDecimal(Model.NZD * 100));
        string omr = string.Format("{0:F2}", Convert.ToDecimal(Model.OMR * 100));
        string pab = string.Format("{0:F2}", Convert.ToDecimal(Model.PAB * 100));
        string pen = string.Format("{0:F2}", Convert.ToDecimal(Model.PEN * 100));
        string pgk = string.Format("{0:F2}", Convert.ToDecimal(Model.PGK * 100));
        string php = string.Format("{0:F2}", Convert.ToDecimal(Model.PHP * 100));
        string pkr = string.Format("{0:F2}", Convert.ToDecimal(Model.PKR * 100));
        string pln = string.Format("{0:F2}", Convert.ToDecimal(Model.PLN * 100));
        string pyg = string.Format("{0:F2}", Convert.ToDecimal(Model.PYG * 100));
        string qar = string.Format("{0:F2}", Convert.ToDecimal(Model.QAR * 100));
        string ron = string.Format("{0:F2}", Convert.ToDecimal(Model.RON * 100));
        string rsd = string.Format("{0:F2}", Convert.ToDecimal(Model.RSD * 100));
        string rub = string.Format("{0:F2}", Convert.ToDecimal(Model.RUB * 100));
        string rwf = string.Format("{0:F2}", Convert.ToDecimal(Model.RWF * 100));
        string sar = string.Format("{0:F2}", Convert.ToDecimal(Model.SAR * 100));
        string sbd = string.Format("{0:F2}", Convert.ToDecimal(Model.SBD * 100));
        string scr = string.Format("{0:F2}", Convert.ToDecimal(Model.SCR * 100));
        string sdg = string.Format("{0:F2}", Convert.ToDecimal(Model.SDG * 100));
        string sgd = string.Format("{0:F2}", Convert.ToDecimal(Model.SGD * 100));
        string shp = string.Format("{0:F2}", Convert.ToDecimal(Model.SHP * 100));
        string sle = string.Format("{0:F2}", Convert.ToDecimal(Model.SLE * 100));
        string sll = string.Format("{0:F2}", Convert.ToDecimal(Model.SLL * 100));
        string sos = string.Format("{0:F2}", Convert.ToDecimal(Model.SOS * 100));
        string srd = string.Format("{0:F2}", Convert.ToDecimal(Model.SRD * 100));
        string ssp = string.Format("{0:F2}", Convert.ToDecimal(Model.SSP * 100));
        string stn = string.Format("{0:F2}", Convert.ToDecimal(Model.STN * 100));
        string syp = string.Format("{0:F2}", Convert.ToDecimal(Model.SYP * 100));
        string szl = string.Format("{0:F2}", Convert.ToDecimal(Model.SZL * 100));
        string thb = string.Format("{0:F2}", Convert.ToDecimal(Model.THB * 100));
        string tjs = string.Format("{0:F2}", Convert.ToDecimal(Model.TJS * 100));
        string tmt = string.Format("{0:F2}", Convert.ToDecimal(Model.TMT * 100));
        string tnd = string.Format("{0:F2}", Convert.ToDecimal(Model.TND * 100));
        string top = string.Format("{0:F2}", Convert.ToDecimal(Model.TOP * 100));
        string trya = string.Format("{0:F2}", Convert.ToDecimal(Model.TRY * 100));
        string ttd = string.Format("{0:F2}", Convert.ToDecimal(Model.TTD * 100));
        string tvd = string.Format("{0:F2}", Convert.ToDecimal(Model.TVD * 100));
        string twd = string.Format("{0:F2}", Convert.ToDecimal(Model.TWD * 100));
        string tzs = string.Format("{0:F2}", Convert.ToDecimal(Model.TZS * 100));
        string uah = string.Format("{0:F2}", Convert.ToDecimal(Model.UAH * 100));
        string ugx = string.Format("{0:F2}", Convert.ToDecimal(Model.UGX * 100));
        string usd = string.Format("{0:F2}", Convert.ToDecimal(Model.USD * 100));
        string uyu = string.Format("{0:F2}", Convert.ToDecimal(Model.UYU * 100));
        string uzs = string.Format("{0:F2}", Convert.ToDecimal(Model.UZS * 100));
        string ves = string.Format("{0:F2}", Convert.ToDecimal(Model.VES * 100));
        string vnd = string.Format("{0:F2}", Convert.ToDecimal(Model.VND * 100));
        string vuv = string.Format("{0:F2}", Convert.ToDecimal(Model.VUV * 100));
        string wst = string.Format("{0:F2}", Convert.ToDecimal(Model.WST * 100));
        string xaf = string.Format("{0:F2}", Convert.ToDecimal(Model.XAF * 100));
        string xcd = string.Format("{0:F2}", Convert.ToDecimal(Model.XCD * 100));
        string xdr = string.Format("{0:F2}", Convert.ToDecimal(Model.XDR * 100));
        string xof = string.Format("{0:F2}", Convert.ToDecimal(Model.XOF * 100));
        string xpf = string.Format("{0:F2}", Convert.ToDecimal(Model.XPF * 100));
        string yer = string.Format("{0:F2}", Convert.ToDecimal(Model.YER * 100));
        string zar = string.Format("{0:F2}", Convert.ToDecimal(Model.ZAR * 100));
        string zmw = string.Format("{0:F2}", Convert.ToDecimal(Model.ZMW * 100));
        string zwl = string.Format("{0:F2}", Convert.ToDecimal(Model.ZWL * 100));       
    
        }
    <p>100 SEK equels</p>
    <ul class="row">

        <li class="col-6">AED : @aed </li>
        <li class="col-6">AFN : @afn </li>
        <li class="col-6">ALL : @all </li>
        <li class="col-6">AMD : @amd </li>
        <li class="col-6">ANG : @ang </li>
        <li class="col-6">AOA : @aoa </li>
        <li class="col-6">ARS : @ars </li>
        <li class="col-6">AUD : @aud </li>
        <li class="col-6">AWG : @awg </li>
        <li class="col-6">AZN : @azn </li>
        <li class="col-6">BAM : @bam </li>
        <li class="col-6">BBD : @bbd </li>
        <li class="col-6">BDT : @bdt </li>
        <li class="col-6">BGN : @bgn </li>
        <li class="col-6">BHD : @bhd </li>
        <li class="col-6">BIF : @bif </li>
        <li class="col-6">BMD : @bmd </li>
        <li class="col-6">BND : @bnd </li>
        <li class="col-6">BOB : @bob </li>
        <li class="col-6">BRL : @brl </li>
        <li class="col-6">BSD : @bsd </li>
        <li class="col-6">BTN : @btn </li>
        <li class="col-6">BWP : @bwp </li>
        <li class="col-6">BYN : @byn </li>
        <li class="col-6">BZD : @bzd </li>
        <li class="col-6">CAD : @cad </li>
        <li class="col-6">CDF : @cdf </li>
        <li class="col-6">CHF : @chf </li>
        <li class="col-6">CLP : @clp </li>
        <li class="col-6">CNY : @cny </li>
        <li class="col-6">COP : @cop </li>
        <li class="col-6">CRC : @crc </li>
        <li class="col-6">CUP : @cup </li>
        <li class="col-6">CVE : @cve </li>
        <li class="col-6">CZK : @czk </li>
        <li class="col-6">DJF : @djf </li>
        <li class="col-6">DKK : @dkk </li>
        <li class="col-6">DOP : @dop </li>
        <li class="col-6">DZD : @dzd </li>
        <li class="col-6">EGP : @egp </li>
        <li class="col-6">ERN : @ern </li>
        <li class="col-6">ETB : @etb </li>
        <li class="col-6">EUR : @eur </li>
        <li class="col-6">FJD : @fjd </li>
        <li class="col-6">FKP : @fkp </li>
        <li class="col-6">FOK : @fok </li>
        <li class="col-6">GBP : @gbp </li>
        <li class="col-6">GEL : @gel </li>
        <li class="col-6">GGP : @ggp </li>
        <li class="col-6">GHS : @ghs </li>
        <li class="col-6">GIP : @gip </li>
        <li class="col-6">GMD : @gmd </li>
        <li class="col-6">GNF : @gnf </li>
        <li class="col-6">GTQ : @gtq </li>
        <li class="col-6">GYD : @gyd </li>
        <li class="col-6">HKD : @hkd </li>
        <li class="col-6">HNL : @hnl </li>
        <li class="col-6">HRK : @hrk </li>
        <li class="col-6">HTG : @htg </li>
        <li class="col-6">HUF : @huf </li>
        <li class="col-6">IDR : @idr </li>
        <li class="col-6">ILS : @ils </li>
        <li class="col-6">IMP : @imp </li>
        <li class="col-6">INR : @inr </li>
        <li class="col-6">IQD : @iqd </li>
        <li class="col-6">IRR : @irr </li>
        <li class="col-6">ISK : @isk </li>
        <li class="col-6">JEP : @jep </li>
        <li class="col-6">JMD : @jmd </li>
        <li class="col-6">JOD : @jod </li>
        <li class="col-6">JPY : @jpy </li>
        <li class="col-6">KES : @kes </li>
        <li class="col-6">KGS : @kgs </li>
        <li class="col-6">KHR : @khr </li>
        <li class="col-6">KID : @kid </li>
        <li class="col-6">KMF : @kmf </li>
        <li class="col-6">KRW : @krw </li>
        <li class="col-6">KWD : @kwd </li>
        <li class="col-6">KYD : @kyd </li>
        <li class="col-6">KZT : @kzt </li>
        <li class="col-6">LAK : @lak </li>
        <li class="col-6">LBP : @lbp </li>
        <li class="col-6">LKR : @lkr </li>
        <li class="col-6">LRD : @lrd </li>
        <li class="col-6">LSL : @lsl </li>
        <li class="col-6">LYD : @lyd </li>
        <li class="col-6">MAD : @mad </li>
        <li class="col-6">MDL : @mdl </li>
        <li class="col-6">MGA : @mga </li>
        <li class="col-6">MKD : @mkd </li>
        <li class="col-6">MMK : @mmk </li>
        <li class="col-6">MNT : @mnt </li>
        <li class="col-6">MOP : @mop </li>
        <li class="col-6">MRU : @mru </li>
        <li class="col-6">MUR : @mur </li>
        <li class="col-6">MVR : @mvr </li>
        <li class="col-6">MWK : @mwk </li>
        <li class="col-6">MXN : @mxn </li>
        <li class="col-6">MYR : @myr </li>
        <li class="col-6">MZN : @mzn </li>
        <li class="col-6">NAD : @nad </li>
        <li class="col-6">NGN : @ngn </li>
        <li class="col-6">NIO : @nio </li>
        <li class="col-6">NOK : @nok </li>
        <li class="col-6">NPR : @npr </li>
        <li class="col-6">NZD : @nzd </li>
        <li class="col-6">OMR : @omr </li>
        <li class="col-6">PAB : @pab </li>
        <li class="col-6">PEN : @pen </li>
        <li class="col-6">PGK : @pgk </li>
        <li class="col-6">PHP : @php </li>
        <li class="col-6">PKR : @pkr </li>
        <li class="col-6">PLN : @pln </li>
        <li class="col-6">PYG : @pyg </li>
        <li class="col-6">QAR : @qar </li>
        <li class="col-6">RON : @ron </li>
        <li class="col-6">RSD : @rsd </li>
        <li class="col-6">RUB : @rub </li>
        <li class="col-6">RWF : @rwf </li>
        <li class="col-6">SAR : @sar </li>
        <li class="col-6">SBD : @sbd </li>
        <li class="col-6">SCR : @scr </li>
        <li class="col-6">SDG : @sdg </li>
        <li class="col-6">SGD : @sgd </li>
        <li class="col-6">SHP : @shp </li>
        <li class="col-6">SLE : @sle </li>
        <li class="col-6">SLL : @sll </li>
        <li class="col-6">SOS : @sos </li>
        <li class="col-6">SRD : @srd </li>
        <li class="col-6">SSP : @ssp </li>
        <li class="col-6">STN : @stn </li>
        <li class="col-6">SYP : @syp </li>
        <li class="col-6">SZL : @szl </li>
        <li class="col-6">THB : @thb </li>
        <li class="col-6">TJS : @tjs </li>
        <li class="col-6">TMT : @tmt </li>
        <li class="col-6">TND : @tnd </li>
        <li class="col-6">TOP : @top </li>
        <li class="col-6">TRY : @trya </li>
        <li class="col-6">TTD : @ttd </li>
        <li class="col-6">TVD : @tvd </li>
        <li class="col-6">TWD : @twd </li>
        <li class="col-6">TZS : @tzs </li>
        <li class="col-6">UAH : @uah </li>
        <li class="col-6">UGX : @ugx </li>
        <li class="col-6">USD : @usd </li>
        <li class="col-6">UYU : @uyu </li>
        <li class="col-6">UZS : @uzs </li>
        <li class="col-6">VES : @ves </li>
        <li class="col-6">VND : @vnd </li>
        <li class="col-6">VUV : @vuv </li>
        <li class="col-6">WST : @wst </li>
        <li class="col-6">XAF : @xaf </li>
        <li class="col-6">XCD : @xcd </li>
        <li class="col-6">XDR : @xdr</li>
        <li class="col-6">XOF : @xof </li>
        <li class="col-6">XPF : @xpf </li>
        <li class="col-6">YER : @yer </li>
        <li class="col-6">ZAR : @zar </li>
        <li class="col-6">ZMW : @zmw </li>
        <li class="col-6">ZWL : @zwl </li>
    </ul>
</div>