@model AppUser

Are you Sure you wanna delete the account @Model.UserName

<form method="post">
    <input type="hidden" asp-for="Id" />

    <button type="submit">YES</button>
    <a asp-action="MyAccount">NO</a>
</form>

Are you a GREAT FRONT END DEVELOPER!?!?!?! CONTACT US HERE:
WE REALLY NEED YOU MAN:!:!::!="=!"

Like for example here you could make like a pop up with really good looking design.
I only DO the BACKEND
The doctor told me I have this intolerance which could be fatal apperntyl. <-- You could even spele this corredctly 