<div class="d-flex align-items-center justify-content-center">

	<form class="shamsForm" asp-controller="Subscription" asp-action="BuySubscription" method="post">
		<div class="formDiv">
			<label class="shamsLabel" for="membershipType">Membership Type:</label>
			<select class="shamsSelect" id="membershipType" name="membershipType">
				<option value="basic">Basic - $29/month</option>
				<option value="middle">Middle - $59/month</option>
				<option value="expensive">Expensive - $189/month</option>
			</select>
		</div>
		<div class="formDiv">
			<label class="shamsLabel" for="paymentFrequency">Payment Frequency:</label>
			<select class="shamsSelect" id="paymentFrequency" name="paymentFrequency">
				<option value="monthly">Monthly</option>
				<option value="yearly">Yearly</option>
			</select>
		</div>
		<button class="shamsButton" type="submit">Checkout</button>
	</form>

</div>