@model string


<div class="offset-md-3 col-md-6 offset-sm-2 col-sm-8 offset-1 col-10">
	<div>
		<h3> You need to confirm your email.</h3>
	</div>
	<form asp-action="ResendEmail">
		<input type="hidden" name="email" value="@Model"/>
		<button class="btn btn-primary" type="submit">Resend Email Confirmation</button>
	</form>
</div>