@inject IArticleService ArticleService
@inject IIdentityService IdentityService
@{
    Article newModel = ArticleService.GetArticleById(88);
    
}

<button id="clickmebitch">CLICK ME IF YOU DARE</button>

<script src="/js/cscripts.js"></script>

<script>
    
    document.addEventListener("DOMContentLoaded", function (){
        let elem = document.getElementById("clickmebitch");
        elem.addEventListener("click", function () {
            PromptBox("Give reason for TakeDown:", "TestAlert", true, "You NEED to Give reason for TakeDown:");
        });
    });
    
</script>