@inject IArticleService ArticleService
@inject IIdentityService IdentityService
@{
    Article newModel = ArticleService.GetArticleById(88);
    
}

<a href="#">
    <img src="@newModel.ImageLink" width="400px" alt=""/>
    <h1>HEADLINE HERE MATE</h1>
</a>