@model IEnumerable<System.Security.Claims.Claim>
@{
    ViewData["Title"] = "CLAIMS";
}

<style>
    td:nth-of-type(1):before { content: "Subject"; }
    td:nth-of-type(2):before { content: "Issuer"; }
    td:nth-of-type(3):before { content: "Type"; }
    td:nth-of-type(4):before { content: "Value"; }
</style>

<h2 class="m-1 p-1">Claims</h2>
<div class="table-responsive">
<table class="table table-sm table-bordered" style="white-space: nowrap">
    <thead>
    <tr>
        <th>Subject</th>
        <th>Issuer</th>
        <th>Type</th>
        <th>Value</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var claim in Model.OrderBy(x => x.Type))
    {
        <tr>
            <td>@claim.Subject.Name</td>
            <td>@claim.Issuer</td>
            <td>@claim.Type</td>
            <td>@claim.Value</td>
        </tr>
    }
    </tbody>
</table>
</div>