<h1>
    This the admin page bruv
</h1>

<a class="btn btn-primary" asp-action="Roles">Roles</a>
<a class="btn btn-primary" asp-action="Users">Users</a>
<a class="btn btn-primary" asp-action="SubscriptionTypes">Subscriptions</a>