@model List<SubscriptionType> 
@*Do NOT remove this whitspace before <SubscriptionType> Please. It makes my JS coding Painful*@

<div id="VC420">
    <vc:sub-types sub-types="Model"></vc:sub-types>
</div>

<script type="text/javascript">

</script>