@model WeatherStats


@{

	WeatherStats stats = new();
	string city = "Stockholm";
	String hourMin = DateTime.Now.ToString("HH:mm");
	String weatherTime = DateTime.Now.ToString("yyyy-MM-dd HH:00:00");
	DateTime testTime = Convert.ToDateTime(weatherTime);
	Parameter temperature = Model.timeSeries.FirstOrDefault(ts => ts.validTime == testTime).parameters.FirstOrDefault(p => p.name == "t");

}

<div class="weather-details">
	<div class="weather-info">
		<div class="card">
			<div class="card-body">
			<h3 id="place" >Weather: @Model.NameOfCity</h3>
			<form>
				<div class="mt-3">
					<label for=" City" class="form-label">City:</label><br />
					<input type="text" class="form-control" id="city" placeholder="Enter city" default="@city" />
				</div>
			</form>

			<div class="p-2 ps-0">
				<button class="btn-sm" id="searchcity" onclick="FindNewCity(Search())">Find</button>
			</div>
			<p>Time: @hourMin</p>
			<p>Temperature: @temperature.values[0] °C</p>
			<div class="weather-icon">☀️</div>
				<p><a href="https://www.smhi.se/en/q/Linköping/2694762">Weather SMHI</a></p>
			</div>
		</div>
	</div>

</div>

<script type="text/javascript">
	function Search() {
		return document.getElementById('city').value;
	}
</script>