
<div class="text-center">
	<h1>Payment Cancelled!</h1>
	<img src="https://rates.fm/static/content/thumbs/388x218/d/b3/726eug---c1034x582x50px50p--e77928a0cd69bf4d04e9583dc8263b3d.jpg" alt="Payment Cancelled Image" />
	<h5> We hope you will have the opportunity to visite our Cnews site again. </h5>
</div>
