<div class="offset-md-3 col-md-6 offset-sm-2 col-sm-8 offset-1 col-10">
	<h2> Thank You For Subscribing!</h2>
	@* <img src="https://ruperhat.com/wp-content/uploads/2020/06/Paymentsuccessful21.png" alt="Payment Successful Image" /> *@
	<h5> We appreciate your choice! </h5>
     <a href="/" class="btn btn-primary">Continue Exploring</a>
</div>
@* <style>
    .payment-success-button {
        display: inline-block;
        padding: 15px 30px;
        background-color: #4CAF50; /* Green color */
        color: white;
        text-decoration: none;
        border: none;
        border-radius: 5px;
        font-size: 1.2em;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Add box-shadow transition */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    }

        .payment-success-button:hover {
            background-color: #45a049;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
        }
</style> *@

        
