@model CNewsProject.Models.DataBase.Article

<div>
 <img src="@Model.ImageLink"/>
 <h1>@Model.Headline</h1>
 <div>[Need to get journalist here] - @Model.DateStamp</div><div>[views symbol]@Model.Views [likes symbol]@Model.Likes</div>
 <div>@Model.Content</div>
</div>