
@{
	ViewData["Title"] = "Economy News";
}


<div class="row">
  <section class="main-article col-9">
	@{
		foreach (Article artikelJavel in Model)
		{
			<partial name="_ArticlePartial" model="artikelJavel" />

            }
        }
    </section>
    <aside class="col-3">
        <div class="card mb-4">
            <div class="card-body">
                <vc:weather></vc:weather>
                
            </div>
        </div>
        <vc:exchange-all></vc:exchange-all>
 
    </aside>
</div>




