@model List<Article>

@{
	Layout = "_LayoutNews";
	ViewData["Title"] = "Economy News";
}


<section class="main-article">
	@{
		foreach (Article artikelJavel in Model)
		{
			<partial name="_ArticlePartial" model="artikelJavel" />

		}
	}
</section>


