@model FrontPageArticlesVM

@{
	Layout = "_LayoutNews";
}

<section class="main-article">
	<partial name="_ArticlePartial" model="@Model.MainArticle" />
</section>
<section class="articles">
	@foreach (var article in Model.NotMainButStillImportantArticles)
	{
		<h1>HALLÅ!</h1>
		<partial name="_ArticlePartial" model="article" />
	}
</section>



