@model FrontPageArticlesVM

<section class="main-article">
	<partial name="_ArticlePartial" model="@Model.MainArticle" />
</section>
<section class="articles row">
	@foreach (var article in Model.NotMainButStillImportantArticles)
	{
		<div class="col-md-6 col-12">
			<partial name="_ArticlePartial" model="article" />
		</div>
	}
</section>