@model FrontPageArticlesVM

@{
    if (User.Identity.IsAuthenticated)
    {
        if (_iService.GetAppUserByClaimsPrincipal(User).Result.Fire)
        {
            Layout = "_LayoutFire";
        }
        else
        {
            Layout = "_Layout";
        }
    }
    else
    {
        Layout = "_Layout";
    }
}


<section class="main-article">
	<partial name="_ArticlePartial" model="@Model.MainArticle" />
</section>
<section class="articles">
	@foreach (var article in Model.NotMainButStillImportantArticles)
	{
		
		<partial name="_ArticlePartial" model="article" />
	}
</section>




