@model List<CNewsProject.Models.DataBase.Article>

@{
    ViewData["Title"] = "Search";

    List<Article> listOne = new();
    List<Article> listTwo = new();
    List<Article> listThree = new();
    List<Article> listFour = new();

    int count = 0;
    foreach (var item in Model)
    {
        switch (count % 4)
        {
            case 0:
                listOne.Add(item);
                break;
            case 1:
                listTwo.Add(item);
                break;
            case 2:
                listThree.Add(item);
                break;
            case 3:
                listFour.Add(item);
                break;

        }

        count++;
    }

    var dynamicAuthorNames = ViewBag.authorList;

    List<string> authorNames = new();

    foreach(var item in dynamicAuthorNames){
        authorNames.Add(item);
    }
    ViewData["imgSize"] = 0;
}

<form method="post" class="row">
    <input class="form-control" id="searchBox" name="search" placeholder="Search" style="width: 200px; margin-right: 5px;"/>

    @* <partial name="_searchBarWithSuggestionsPartial" model="authorNames" /> *@

    <ul id="authorSuggestions" class="list-group" style="display: none;"></ul>

    <select class="form-select" name="category" style="width: 200px; margin-right: 5px;">
        <option value="">Category</option>
        <option value="Local">Local</option>
        <option value="Sweden">Sweden</option>
        <option value="World">World</option>
        <option value="Economy">Economy</option>
        <option value="Sport">Sport</option>
    </select>
    <button class="btn btn-primary" type="submit" style="width:83px;">Search</button><br>
    
</form>
<br/>
<div class="row">
@{
    if (Model != null)
    {
        <div class="col-md-3 col-sm-6 col-12">
            @foreach (var article in listOne)
            {
                <partial name="_ArticlePartial" model="article"/>
            }
        </div>
        <div class="col-md-3 col-sm-6 col-12">

            @foreach (var article in listTwo)
            {
                <partial name="_ArticlePartial" model="article"/>
            }
        </div>
        <div class="col-md-3 col-sm-6 col-12">

            @foreach (var article in listThree)
            {
                <partial name="_ArticlePartial" model="article"/>
            }
        </div>
        <div class="col-md-3 col-sm-6 col-12">
            @foreach (var article in listFour)
            {
                <partial name="_ArticlePartial" model="article"/>
            }
        </div>
    }
    else if (true)
    {
        Console.WriteLine("LOL");
    }
}
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#authorBox').on('keyup', function () {
            let searchTerm = $(this).val();
            if (searchTerm.length > 1) {
                $.ajax({
                    url: '@Url.Action("SearchAuthors", "Article")',
                    data: { term: searchTerm },
                    success: function (data) {
                        let suggestions = $('#authorSuggestions');
                        suggestions.empty();
                        if (data.length > 0) {
                            suggestions.show();
                            $.each(data, function (i, item) {
                                suggestions.append('<li class="list-group-item author-suggestion">' + item + '</li>');
                            });
                        } else {
                            suggestions.hide();
                        }
                    }
                });
            } else {
                $('#authorSuggestions').hide();
            }
        });

        // When a suggestion is clicked, fill the input field with the selected author
        $(document).on('click', '.author-suggestion', function () {
            $('#authorBox').val($(this).text());
            $('#authorSuggestions').hide();
        });
    });
</script>