@model List<CNewsProject.Models.DataBase.Article>

@{
    ViewData["Title"] = "Search";
}

<h1>Search</h1>

<form method="post">
    <input name="search" /> <button class="btn btn-sm btn-outline-success" type="submit">Search</button><br>
    <select name="category">
        <option value="">Category</option>
        <option value="Local">Local</option>
        <option value="Sweden">Sweden</option>
        <option value="World">World</option>
        <option value="Economy">Economy</option>
        <option value="Sport">Sport</option>
    </select>

</form>

<div class="row">
    @{
        if (Model != null)
        {
            foreach (var article in Model)
            {
                <div class="col-3">
                    <partial name="_ArticlePartial" model="article" />
                </div>
            }
        }
        else if(true)
        {
            Console.WriteLine("LOL");
        }
    }
</div>