@model CategoryPageArticlesVM
@inject IIdentityService IdentityService

@{
    // vv DONT REMOVE THIS PLEASE YOU WILL CAUSE MORE ERRORS THAN YOU FIX vv
    if (User.Identity!.IsAuthenticated)
    {
        Layout = IdentityService.GetAppUserByClaimsPrincipal(User).Result.Fire ? "_LayoutNewsFire" :
            // << DONT REMOVE THIS PLEASE YOU WILL CAUSE MORE ERRORS THAN YOU FIX
            "_LayoutNews";
    }
    else
    {
        Layout = "_LayoutNews";
        ViewData["Title"] = "Sport News";
    }
    // ^^ DONT REMOVE THIS PLEASE YOU WILL CAUSE MORE ERRORS THAN YOU FIX ^^
}

<section class="main-article">
	<partial name="_ArticlePartial" model="@Model.MainArticle" />
</section>
<section class="articles row">
	@foreach (var article in Model.NotMainButStillImportantArticles)
	{
		<div class="col-md-6 col-12">
			<partial name="_ArticlePartial" model="article" />
		</div>
	}
</section>