@{
    if (User.Identity.IsAuthenticated)
    {
        if (_iService.GetAppUserByClaimsPrincipal(User).Result.Fire)
        {
            Layout = "_LayoutFire";
            ViewData["Title"] = "Sweden Fire News";
        }
        else
        {
            Layout = "_Layout";
        }
    }
    else
    {
        Layout = "_Layout";
        ViewData["Title"] = "Sweden News";
    }
}

<section class="main-article">
    @{
        foreach (Article artikelJavel in Model)
        {
            <partial name="_ArticlePartial" model="artikelJavel" />

        }
    }
</section>
