@model CategoryPageArticlesVM

@{
    // vv DONT REMOVE THIS PLEASE YOU WILL CAUSE MORE ERRORS THAN YOU FIX vv
    if (User.Identity.IsAuthenticated)
    {
        if (_iService.GetAppUserByClaimsPrincipal(User).Result.Fire)
        {
            Layout = "_LayoutFire";
            ViewData["Title"] = "Sweden Fire News";
        }
        else                                             // << DONT REMOVE THIS PLEASE YOU WILL CAUSE MORE ERRORS THAN YOU FIX
        {
            Layout = "_Layout";
            ViewData["Title"] = "Sweden News";
        }
    }
    else
    {
        Layout = "_Layout";
        ViewData["Title"] = "Sweden News";
    }
    // ^^ DONT REMOVE THIS PLEASE YOU WILL CAUSE MORE ERRORS THAN YOU FIX ^^
}

<section class="main-article">
	<partial name="_ArticlePartial" model="@Model.MainArticle" />
</section>
<section class="articles row">
	@foreach (var article in Model.NotMainButStillImportantArticles)
	{
		<div class="col-6">
			<partial name="_ArticlePartial" model="article" />
		</div>
	}
</section>